body{
    margin: 0;
    padding: 2rem;
    font-weight: 100vh;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    
}

.marca {
    color: #007bff; 
    font-weight: bold;
    font-style: italic;
}

.btn{
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    border-radius: 2rem;
    display: flex;
    width: 5rem;
    justify-content: center;
    border: 3px solid black;
}


.boton{
    margin-left: 20rem;
    transition: all 0.3s ease;
    border-radius: 2rem;

}
.boton:hover{
    box-shadow: 0px 0px 18px 12px #D9822B;
}



.targeta{
    padding: 9px 9px 0px 9px;
    margin-bottom: 2rem;
    width: 400px;
    height: 330px;
    background-color:  #FAD4C0;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    transition: all 0.3s ease;
}

.targeta:hover{
    box-shadow: 7px 9px 15px 12px black;
    border: 5px solid rgb(223, 223, 226);
    cursor: pointer;
}

.targeta h2{
    margin-bottom: 0;
}
.targeta p{
    margin-top: 0;
}
.boton{
    display: flex;
    justify-content: end;
}

#targeta2{
    background-color: #E6A57E;
}
 
#targeta3{
    background-color: #FFE9A7;

}

.contenedor_principal{
    display: flex;
    flex-direction: column;
}

img {
        width: 100%;
        border-radius: 10px 10px 0 0;
        object-fit: cover;
        height: 200px; 
    }

@media (min-width:700px ) and (max-width:991px ) {
    .contenedor_principal{
        display: flex;
    }
    .tablet{
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    img {
        width: 100%;
        border-radius: 10px 10px 0 0;
        object-fit: cover;
        height: 200px; 
    }
    .targeta{
        height: 330px;
    }

    .boton{
    margin-left: 20rem;
    transition: all 0.3s ease;
    border-radius: 2rem;
    }

}

@media (min-width:992px){  
    .contenedor_principal section{
        display: flex;
        flex-direction: row;
        gap: 3rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }


    .tablet{
        display: flex;
        flex-direction: row;
        gap: 3rem;
    }
    .targeta{
        height: 330px;
    }
    
    img {
        width: 100%;
        border-radius: 10px 10px 0 0;
        object-fit: cover;
        height: 200px; 
    }
    .boton{
    margin: 0 0 0 20rem;
    transition: all 0.3s ease;
    border-radius: 2rem;
    }

}
